.body-cointainer {
  flex: 1;
  width: 82%;
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.body-long {
  width: 90%;
}
.header {
  width: 99%;
  height: 10vh;
  background-color: hsl(240, 33%, 97%);
  border: 2px solid hsl(240, 33%, 92%);
  border-radius: 7px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.sub-body {
  width: 99%;
  height: 88vh;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  flex-direction: row;
  overflow: scroll;
  justify-content: space-evenly;
  align-items: center;
}
.sub-body::-webkit-scrollbar {
  display: none;
}
.header-left {
  width: 50%;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: start;
  padding-left: 15px;
  gap: 15px;
}
.search {
  width: 100%;
  height: 30px;
  padding: 7px;
  cursor: pointer;
  border-radius: 7px;
  background: #fff;
  border: 0px;
}

.search:focus {
  outline: 2px solid hsl(226, 36%, 39%);
}

.toggler {
  display: none;
}

.right-arrow,
.toggler {
  width: 30px;
  height: 20px;
  fill: hsl(226, 36%, 39%);
  transition: all 0.3s ease;
  cursor: pointer;
}

.right-arrow-rot {
  transform: rotate(180deg);
}

.search-cointainer {
  display: flex;
  align-items: center;
}
.search-logo {
  width: 30px;
  height: 20px;
  fill: hsl(226, 36%, 39%);
  transition: fill 0.3s ease;
  cursor: pointer;
  padding-left: 10px;
}
.header-right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  padding-right: 10px;
}

.profile-logo {
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-logo > .logo-container {
  width: fit-content;
  padding: 10px;
  box-shadow: 5px 5px 5px gray;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
  background-color: white;
  border-radius: 12px;

  position: absolute;
  bottom: -160px;
  right: 0%;

  display: none;
}

.profile-logo:hover > .logo-container {
  display: flex;
}

.profile-logo > .logo-container > * {
  width: 100%;
  text-align: center;
  cursor: pointer;
  padding: 7px 5px;
}
.profile-logo > .logo-container > h4:hover {
  background-color: rgb(224, 219, 219);
}

.profile-logo > svg {
  width: 25px;
  height: 25px;
  fill: hsl(226, 36%, 39%);
  transition: fill 0.3s ease;
  cursor: pointer;
  border: 2px solid hsl(226, 36%, 39%);
  padding: 3px;
  border-radius: 50px;
}

.profile-logo > img {
  width: 35px;
  height: 35px;
  transition: fill 0.3s ease;
  cursor: pointer;
  border-radius: 50px;
}
.bell-logo {
  width: 20px;
  height: 20px;
  fill: hsl(226, 36%, 39%);
  transition: fill 0.3s ease;
  cursor: pointer;
}

#id {
  background: #000;
}

@media screen and (max-width: 950px) {
  .right-arrow,
  .bell-logo {
    min-width: 30px;
    min-height: 20px;
  }
}
@media (max-width: 800px) {
  .header {
    width: 100%;
    border-radius: 0px;
  }
  .sub-body {
    padding: 3px;
    width: 100%;
    border-radius: 0px;
  }
}
@media screen and (max-width: 600px) {
  .header-left {
    width: 80%;
  }
  .header-right {
    width: 20%;
  }
  .profile-logo > svg {
    margin-left: 5px;
  }
}
@media screen and (max-width: 600px) {
  .header-left {
    width: 65%;
  }
  .header-right {
    width: 20%;
  }
  .header {
    justify-content: space-between;
  }
}
