
.signin-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    background:hsl(226, 36%, 40%);
}
.welcome{
    font-size: 35px;
    color: #fff;
    font-weight: 600;
    padding-bottom: 10px;
}
.signin-cointained{
    border: 5px solid white;
    backdrop-filter: blur(5px);
    padding: 40px;
    border-radius: 10px;
}
.signin-cointained p{
    color: white;
    padding-bottom: 10px;
}
.signin-img{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.signin-img img{
    width: 80%;
    height: auto;  
}
.signin-form{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user-logo, .lock-logo{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    fill: hsl(0, 0%, 50%);
}
.username-cointainer, .password-cointainer{
    border: 3px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    margin-bottom: 13px;
    min-width:100%;
    color: #fff;
    background:hsl(0, 0%, 100%);
}
.username, .password{
    flex: 1;
    background: transparent;
    border: 0;
    color: gray;
    font-size: 15px;
    font-weight: 500;
}
.username:focus, .password:focus{
    outline: 0;
}
.openeye-logo, .closeeye-logo{
    width: 20px;
    height: 20px;
    fill: hsl(0, 0%, 60%);
    margin-left: 15px;
    cursor: pointer;
}
.user-border, .mail-border{
    border-color: hsl(0, 0%, 20%) ;
}
input[type="checkbox"]{
    accent-color: gray;
}
.agree{
    padding-left: 5px;
    font-size: 13px;
    color: #fff;
}
.agree a{
    color: hsl(0, 0%, 70%);
    text-decoration: none;
}
.agree a:hover{
    color: skyblue;
}
.login-button{
    min-width: 100%;
    padding: 10px 0px;
    margin-top: 15px;
    background-image: linear-gradient(hsl(221, 94%, 61%),hsl(221, 94%, 50%));
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
}
.login-button:hover{
    background-image:linear-gradient(hsl(221, 94%, 50%), hsl(221, 94%, 61%)) ;
    
}
.tearms-cointainer{
    margin-top: 5px;
}
.other-option-cointainer{
    min-width: 100%;
    text-align: center;
    font-size: 14px;
    color: #fff;
    margin-top: 10px;
}
.optiontext a{
    text-decoration: none;
    color: hsl(0, 0%, 70%);
}
.optiontext a:hover{
    color: skyblue;
}

@media screen and (max-width:800px) {
    .signin-page{
        flex-direction: column;
        height:100vh;
        
    }
    .signin-img{
        width: 100%;
        padding: 50px;
        height: 25%;
    }
    .signin-form{
        width: 100%;
        padding-top:15px ;
        padding-bottom: 50px;
        height: 75%;
    }
}
@media screen and (max-width:500px){
    .signin-cointained{
        width: 75%;
    }
    
}
@media screen and (max-width:470px) {
    .user-logo, .lock-logo, .openeye-logo, .closeeye-logo{
        min-width: 20px;
        min-height: 20px;
    }    
    .signin-cointained{
        padding: 20px;
    }
    
}
@media screen and (max-width:415px) {
    .password{
        width: 170px;
    }
}
@media screen and (max-width:415px) {
    .password{
        width: 150px;
    }
}
@media screen and (max-width:370px) {
    .password{
        width: 140px;
    }
}
@media screen and (max-width:360px) {
    .password{
        width: 130px;
    }
}
@media screen and (max-width:350px) {
    .password{
        width: 120px;
    }
}

@media screen and (max-width:330px) {
    .password{
        width: 110px;
    }
}
@media screen and (max-width:315px) {
    .password{
        width: 100px;
    }
}